.wrap {
  position: relative;
  width: 100%;
}

.wrap :global(.vkuiCustomSelectInput__el) {
  padding-left: 12px !important;
}

.withLeftIcon :global(.vkuiFormField__scrollContainer) {
  padding-inline-start: 44px !important;
}

/* Когда есть выбранное значение — красим текст селекта переменной */
.hasValue :global(.vkuiCustomSelectInput__el) {
  color: var(--selector-text-color) !important;
}

/* На случай, если где-то остаётся title вместо placeholder */
.hasValue :global(.vkuiCustomSelectInput__title) {
  color: var(--selector-text-color) !important;
}


.blocked {
  border-color: var(--blocked-district-border-color) !important;
}

/* меняем плейсхолдер у CustomSelect, если нет города */
.blocked :global(.vkuiCustomSelectInput__title) {
  color: var(--blocked-district-placeholder-color) !important;
}

.blocked :global(input::placeholder),
.blocked :global(textarea::placeholder) {
  color: var(--blocked-district-placeholder-color) !important;
  opacity: 1 !important;
}

.hasValue {
  border-color: var(--border-selected-color) !important;
}
