.wrap { position: relative; width: 100%; }
.withLeftIcon :global(.vkuiFormField__scrollContainer) { padding-inline-start: 44px !important; }
.icon {
  position: absolute; inset-block: 0; left: 16px;
  width: 24px; height: 24px; margin: auto 0; pointer-events: none;
  background-color: rgba(181,183,180,.5);             /* тот же цвет, что текст */
  -webkit-mask: url(/icons/place_outline_20.svg) center/contain no-repeat;
          mask: url(/icons/place_outline_20.svg) center/contain no-repeat;
          
}

/* Когда есть выбранное значение — красим текст селекта переменной */
.hasValue :global(.vkuiCustomSelectInput__el) {
  color: var(--selector-text-color) !important;
}

/* На случай, если где-то остаётся title вместо placeholder */
.hasValue :global(.vkuiCustomSelectInput__title) {
  color: var(--selector-text-color) !important;
}

.hasValue .icon {
  background-color: var(--selector-text-color) !important;
}
